
body{
    background-color: #FAEEDD;
}

.bg-green-ireland {
    background-color: #4CBB17;
}

.filter-element {

}

.filter-element[filter-name] {

}

.filter-element[filter-name]::before {
    content: attr(filter-name);
    display: block;
    margin: 10px 0;
    font-size: 0.85em;
    color: #505;
}


.pseudo-element {

}

.pseudo-element[pseudo-content] {

}

.pseudo-element[pseudo-content]::before {
    content: attr(pseudo-content);
    display: block;
    margin: 10px 0;
    font-size: 0.85em;
    color: #000;
}

.content {
    min-height: calc(100vh - 30px);
}

.footer {
    height: 30px;
    background-color: rgba(0, 0, 0, 0.05);
}